%h5
  This wonderful game was programmed by 
  %a{:href=>"https://github.com/branch14"} Phil

.canvas
  %mainbox.leftside
    %canvas#canvas
  %sidebox.rightside
    %a{:href=>"#", :id=>"resetButton", :data-role=>"button", :data-inline=>"true"} reset
    %a{:href=>"#", :id=>"pauseOrContinueButton", :data-role=>"button", :data-inline=>"true", :data-theme=>"b"}= @getPauseOrContinue()

